// breakpoints
$breakpoints: (
  xl2: 96rem,
  xl: 80rem,
  lg: 64rem,
  md: 48rem,
  tc: 44rem,
  sm: 30rem,
  xs: 27rem,
);

/*
2xl / 96 / 1920 / 
xl  / 90 / 1440	/ screen
lg  / 64 / 1024 / tablet
md  / 48 / 768	/ tablet-min
tc  / 44 / 704	/ column / text column
sm  / 30 / 480	/ movil	
xs / 22.5/ 360  / movil xs
*/