:root {
  // size
  --font-size-base: 1rem;
  --line-height-base: 1.4;
  --font-weight-base: 400;
  --line-height-title: 1.2;

  // family
  --font-family-base: 'poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --font-family-heading: 'poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --font-family-highlights: 'poppins', -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  // header h1
  --font-family-header-1: var(--font-family-heading);
  --font-size-header-1: clamp(1.6rem, 4vw, 2.5rem);
  --line-height-header-1: var(--line-height-title);
  --font-weight-header-1: 900;

  // header h2
  --font-family-header-2: var(--font-family-heading);
  --font-size-header-2: 2rem;
  --line-height-header-2: var(--line-height-title);
  --font-weight-header-2: 700;

  // header h3
  --font-family-header-3: var(--font-family-heading);
  --font-size-header-3: 1.75rem;
  --line-height-header-3: var(--line-height-title);
  --font-weight-header-3: 700;
}