.network-menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 1rem;

	&__title {
		// border: 2px solid indianred;
		text-transform: uppercase;
		color: var(--ink-8);
		font-size: 1.1rem;
		margin-top: 0;
		font-weight: 300;
		margin-bottom: 2rem;
	}

	&__container {
		// border: 2px solid indianred;
		display: flex;
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 0;
		gap: 3.5rem;

		li {
			display: block;
		}

		svg {
			fill: tomato;
		}
	}

}