.side-bar {
	position: fixed;
	top: var(--height-topbar);
	height: calc(100% - 2rem);
	background-color: var(--ink-white);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in;
	padding-top: 7rem;

	:where(.js-side-panel-open) & {
		opacity: 1;
		pointer-events: auto;
		transition: opacity 0.3s ease-in;
	}

	&.container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}