// -------------
// # breakpoints
// -------------

$breakpoints: (
  xl2: 96rem,
  xl: 80rem,
  lg: 64rem,
  md: 48rem,
  tc: 44rem,
  sm: 30rem,
  xs: 27rem,
);

:root {

  @each $point,
  $value in $breakpoints {
    --bp-#{$point}: #{$value};
  }
}

@each $name,
$point in $breakpoints {
  .width-#{$name} {
    max-width: var(--bp-#{$name});
    margin-left: auto;
    margin-right: auto;
  }
}